<nav class="navbar is-danger is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
  </div>

  <div class="navbar-menu is-active">
    <div class="navbar-start">
      {{#link-to 'index' class='navbar-item'}}
      Bank Home
      {{/link-to}}
    </div>

    <div class="navbar-end">
      {{#if session.isAuthenticated}}
        <div class="navbar-item">{{ session.data.profile.name }}</div>

        {{#link-to 'dashboard' class='navbar-item'}}
        Dashboard
        {{/link-to}}
      {{/if}}

      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
          {{#if session.isAuthenticated}}
          <button {{ action "logout" }} class="button is-primary">
            Log out
          </button>
          {{ else }}
          <button class="button is-primary" {{action "login"}}>
            Log In
          </button>
          {{/if}}
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
